.nav-form{
    -fx-background-color:linear-gradient(to bottom right, #272b3f, #256b51);
}
.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.5), 6,0,0,0);
}
.loginhere{
    -fx-background-color:transparent;
    -fx-cursor:hand;
        -fx-text-fill:#fff;
            -fx-font-family:"Arial";
                -fx-alignment:CENTER-LEFT;
}
.loginhere:hover{
    -fx-background-color:#96A375;
}